<h1>Visited Parks:</h1>
<% if Park.all.empty? %>
    <h4>Looks like you haven't visited any national parks.</h4>
    <br>
    <a href='/parks/new'><button>Click to get started</button></a>
<% else %>
    <% Park.all.each do |p| %>
    <h3><%= p.name %></h3> 
    <form action="/parks/<%=p.id%>">
        <input type="submit" value="See Details" />
    </form>
    ---------------------------------------------------
    <% end %>
<% end %>
