<h1>Visited Parks:</h1>
<% if @parks.empty? %>
    <h4>Looks like you haven't visited any national parks.</h4>
    <br>
    <a href='/parks/new'><button>Click to get started</button></a>
<% else %>
    <% @parks.each do |p| %>
    <h3><%= p.name %></h3> 
    <a href='/parks/<%=p.id%>'><button>See Details</button></a> 
    <br>
    <form action="/parks/<%=p.id%>/delete" method="POST">
        <input type="hidden" name="_method" id="hidden" value="DELETE">
        <input type='submit' value= 'Delete'>
    </form>
    ---------------------------------------------------
    <% end %>
<% end %>