<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="/stylesheets/navigation.css">
	<link rel="stylesheet" href="/stylesheets/form.css">
</head>
<body>
<div class="topnav">
  <a class="active" href="/parks">Home</a>
  <a href="/parks/new">New Park</a>
  <a href="/logout">Logout</a>
</div>
		<h1><a>Park Details</a></h1>
		<form  method="post" action="/parks">
			<p>Enter the data from the National Park:</p>
		<div>
			<input id="name" name="name" type="text" placeholder="Park Name:"> 
		</div> 
		<div>
			<input id="city" name="city" type="text" placeholder="City:"> 
		</div> 
		<div>
			<input id="state" name="state" type="text" placeholder="State:"> 
		</div> 
		<div>
			<input id="date_visited" name="date_visited" type="text" placeholder="Date Visited - MM-DD-YYYY:"> 
		</div> 
		<div>
			<input id="notes" name="notes"  type="text" placeholder="Notes:"> 
		<br>
		<br>
		<input type="submit" value="Submit Park">
		</form>	
	</body>
</html>