<!DOCTYPE html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Park Details</title>
<link rel="stylesheet" type="text/css" href="view.css" media="all">
<script type="text/javascript" src="view.js"></script>

</head>
<body id="main_body" >
	
	<img id="top" src="top.png" alt="">
	<div id="form_container">
	
		<h1><a>Park Details</a></h1>
		<form id="form_109257" class="appnitro"  method="post" action="/parks">
					<div class="form_description">
			<p>Enter the data from the National Park:</p>
		</div>						
			<ul >
			
					<li id="li_1" >
		<label class="description" for="element_1">Park Name: </label>
		<div>
			<input id="park_name" name="park_name" class="element text medium" type="text" maxlength="255" value=""/> 
		</div> 
		</li>		<li id="li_2" >
		<label class="description" for="element_2">City: </label>
		<div>
			<input id="city" name="city" class="element text medium" type="text" maxlength="255" value=""/> 
		</div> 
		</li>		<li id="li_3" >
		<label class="description" for="element_3">State: </label>
		<div>
			<input id="state" name="state" class="element text medium" type="text" maxlength="255" value=""/> 
		</div> 
		</li>		<li id="li_4" >
		<label class="description" for="element_4">Notes: </label>
		<div>
			<textarea id="notes" name="notes" class="element textarea medium"></textarea> 
		</div> 
		</li>
			
					<li class="buttons">
			    <input type="hidden" name="form_id" value="109257" />
			    <br>
				<input id="saveForm" class="button_text" type="submit" name="submit" value="Submit" />
		</li>
			</ul>
		</form>	
		<div id="footer">
			
		</div>
	</div>
    <img id="bottom" src="bottom.png" alt="">

	</body>
</html>