<!DOCTYPE html>
<head>
<title>Park Details</title>
</head>
<body id="main_body" >
		<h1><a>Park Details</a></h1>
		<form  method="post" action="/parks">
			<p>Enter the data from the National Park:</p>
		<label>Park Name: </label>
		<div>
			<input id="name" name="name" class="element text medium" type="text" maxlength="255" value=""/> 
		</div> 
		<label>City: </label>
		<div>
			<input id="city" name="city" class="element text medium" type="text" maxlength="255" value=""/> 
		</div> 
		<label>State: </label>
		<div>
			<input id="state" name="state" class="element text medium" type="text" maxlength="255" value=""/> 
		</div> 
		<label>Date Visited - MM-DD-YYYY: </label>
		<div>
			<input id="date_visited" name="date_visited" class="element text medium" type="text" maxlength="255" value=""/> 
		</div> 
		<label>Notes: </label>
		<div>
			<textarea id="notes" name="notes" class="element textarea medium"></textarea> 
		<br>
		<br>
			<button type="submit" id="submit">Submit</button>
		</form>	
	</body>
</html>