<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/stylesheets/page_styles.css">
</head>
<body>
<div class="topnav">
  <a class="active" href="/parks">Home</a>
  <a href="/parks/new">New Park</a>
  <a href="/account">Account</a>
  <a href="/logout">Logout</a>
</div>
<br>

<h3> Name: <%= @user.first_name %> <%= @user.last_name %> </h3>
<h3> Email: <%= @user.email %> </h3>
<h3> Member Since: <%= @user.created_at %> </h3><br>
<a href='/account/edit' class="myButton">Edit Account Details</a><br>


</body>
</html>