<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/stylesheets/signup.css">
    <link rel="stylesheet" href="/stylesheets/banner.css">
</head>
<body>
<div class="topnav">
  <a class="active" href="/parks">Home</a>
  <a href="/parks/new">New Park</a>
  <a href="/account">Account</a>
  <a style="float: right; margin-right: 15px" href="/logout">Logout</a>
</div><br>
<div class="container">
  <img src="/images/desert.jpg" alt="forest" width="100%" height="10%" style="border-radius: 6px">
</div>

<h3>Update Account Info:</h3>
<form action="/account/edit" method="POST">
<input type="hidden" name="_method" id="hidden" value="PATCH">
  <input type="text" name="first_name" placeholder="First Name:" value="<%= @user.first_name %>">
  <br>
  <input type="text" name="last_name" placeholder="Last Name:" value="<%= @user.last_name %>">
  <br>
  <br>
  <input type="submit" class="submit_button" value="Update Account">
</form>
</body>
</html>