<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/stylesheets/form.css">
</head>
<body>

<h3>Sign Up</h3>
<form action="/signup" method="POST">
  <input type="text" name="first_name" placeholder="First Name:">
  <br>
  <input type="text" name="last_name" placeholder="Last Name:">
  <br>
  <input type="text" name="email" placeholder="Email:">
  <br>
  <input type="password" name="password" placeholder="Password:">
  <br>
  <input type="password" name="verify_password" placeholder="Verify Password:">
  <br>
  <input type="submit" class="myButton" value="Sign Up">
</form>
<em style="color:black;font-size:12px;" >
If you already have an account, <a href='/login'>login </a></em>
</body>
</html>