<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/stylesheets/page_styles.css">
    <link rel="stylesheet" href="/stylesheets/banner.css">
    <link rel="stylesheet" href="/stylesheets/state_buttons.css">
</head>
<body>
<div class="topnav">
  <a class="active" href="/parks">Home</a>
  <a href="/parks/new">New Park</a>
  <a href="/account">Account</a>
  <a style="float: right; margin-right: 15px" href="/logout">Logout</a>
</div><br>
<div class="container">
  <img src="images/forest_banner.jpg" alt="forest" width="100%" height="10%" style="border-radius: 6px">
</div>
<div class="btn-group">
  <button>Alabama</button>
  <button>Alaska</button>
  <button>Arizona</button>
  <button>Arkansas</button>
  <button>California</button>
</div><br>
<div class="btn-group">
  <button>Colorado</button>
  <button>Connecticut</button>
  <button>Delaware</button>
  <button>Florida</button>
  <button>Georgia</button>
</div><br>
<div class="btn-group">
  <button>Hawaii</button>
  <button>Idaho</button>
  <button>Illinois</button>
  <button>Indiana</button>
  <button>Iowa</button>
</div><br>
<div class="btn-group">
  <button>Kansas</button>
  <button>Kentucky</button>
  <button>Louisiana</button>
  <button>Maine</button>
  <button>Maryland</button>
</div><br>
<div class="btn-group">
  <button>Massachusetts</button>
  <button>Michigan</button>
  <button>Minnesota</button>
  <button>Mississippi</button>
  <button>Missouri</button>
</div><br>
<div class="btn-group">
  <button>Montana</button>
  <button>Nebraska</button>
  <button>Nevada</button>
  <button>New Hampshire</button>
  <button>New Jersey</button>
</div><br>
<div class="btn-group">
  <button>New Mexico</button>
  <button>New York</button>
  <button>North Carolina</button>
  <button>North Dakota</button>
  <button>Ohio</button>
</div><br>
<div class="btn-group">
  <button>Oklahoma</button>
  <button>Oregon</button>
  <button>Pennsylvania</button>
  <button>Rhode Island</button>
  <button>South Carolina</button>
</div><br>
<div class="btn-group">
  <button>South Dakota</button>
  <button>Tennessee</button>
  <button>Texas</button>
  <button>Utah</button>
  <button>Vermont</button>
</div><br>
<div class="btn-group">
  <button>Virginia</button>
  <button>Washington</button>
  <button>West Virginia</button>
  <button>Wisconsin</button>
  <button>Wyoming </button>
</div><br>
<a href="/explore/al" class="w3-button w3-black">Alabama</a>



</body>
</html>
