<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/stylesheets/page_styles.css">
    <link rel="stylesheet" href="/stylesheets/banner.css">
</head>
<body>
<div class="topnav">
  <a class="active" href="/parks">Home</a>
  <a href="/parks/new">New Park</a>
  <a href="/account">Account</a>
  <a href="/explore">Explore</a>
  <a style="float: right; margin-right: 15px" href="/logout">Logout</a>
</div><br>
<div class="container">
  <img src="images/forest_banner.jpg" alt="forest" width="100%" height="10%" style="border-radius: 6px">
</div>

<div>
  <a href="/explore/al" class="myButton">Alabama</a>
  <a href="/explore/ak" class="myButton">Alaska</a>
  <a href="/explore/az" class="myButton">Arizona</a>
  <a href="/explore/ar" class="myButton">Arkansas</a>
  <a href="/explore/ca" class="myButton">California</a>
</div><br>
<div>
  <a href="/explore/co" class="myButton">Colorado</a>
  <a href="/explore/ct" class="myButton">Connecticut</a>
  <a href="/explore/de" class="myButton">Delaware</a>
  <a href="/explore/fl" class="myButton">Florida</a>
  <a href="/explore/ga" class="myButton">Georgia</a>
</div><br>
<div>
  <a href="/explore/hi" class="myButton">Hawaii</a>
  <a href="/explore/id" class="myButton">Idaho</a>
  <a href="/explore/il" class="myButton">Illinois</a>
  <a href="/explore/in" class="myButton">Indiana</a>
  <a href="/explore/ia" class="myButton">Iowa</a>
</div><br>
<div>
  <a href="/explore/ks" class="myButton">Kansas</a>
  <a href="/explore/ky" class="myButton">Kentucky</a>
  <a href="/explore/la" class="myButton">Louisiana</a>
  <a href="/explore/me" class="myButton">Maine</a>
  <a href="/explore/md" class="myButton">Maryland</a>
</div><br>
<div>
  <a href="/explore/ma" class="myButton">Massachusetts</a>
  <a href="/explore/mi" class="myButton">Michigan</a>
  <a href="/explore/mn" class="myButton">Minnesota</a>
  <a href="/explore/ms" class="myButton">Mississippi</a>
  <a href="/explore/mo" class="myButton">Missouri</a>
</div><br>
<div>
  <a href="/explore/mt" class="myButton">Montana</a>
  <a href="/explore/ne" class="myButton">Nebraska</a>
  <a href="/explore/nv" class="myButton">Nevada</a>
  <a href="/explore/nh" class="myButton">New Hampshire</a>
  <a href="/explore/nj" class="myButton">New Jersey</a>
</div><br>
<div>
  <a href="/explore/nm" class="myButton">New Mexico</a>
  <a href="/explore/ny" class="myButton">New York</a>
  <a href="/explore/nc" class="myButton">North Carolina</a>
  <a href="/explore/nd" class="myButton">North Dakota</a>
  <a href="/explore/oh" class="myButton">Ohio</a>
</div><br>
<div>
  <a href="/explore/ok" class="myButton">Oklahoma</a>
  <a href="/explore/or" class="myButton">Oregon</a>
  <a href="/explore/pa" class="myButton">Pennsylvania</a>
  <a href="/explore/ri" class="myButton">Rhode Island</a>
  <a href="/explore/sc" class="myButton">South Carolina</a>
</div><br>
<div>
  <a href="/explore/sd" class="myButton">South Dakota</a>
  <a href="/explore/tn" class="myButton">Tennessee</a>
  <a href="/explore/tx" class="myButton">Texas</a>
  <a href="/explore/ut" class="myButton">Utah</a>
  <a href="/explore/vt" class="myButton">Vermont</a>
</div><br>
<div>
  <a href="/explore/va" class="myButton">Virginia</a>
  <a href="/explore/wa" class="myButton">Washington</a>
  <a href="/explore/wv" class="myButton">West Virginia</a>
  <a href="/explore/wi" class="myButton">Wisconsin</a>
  <a href="/explore/wy" class="myButton">Wyoming </a>
</div><br>




</body>
</html>
