<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/stylesheets/page_styles.css">
    <link rel="stylesheet" href="/stylesheets/banner.css">
</head>
<body>
<div class="topnav">
  <a class="active" href="/parks">Home</a>
  <a href="/parks/new">New Park</a>
  <a href="/account">Account</a>
  <a href="/explore">Explore</a>
  <a style="float: right; margin-right: 15px" href="/logout">Logout</a>
</div><br>
<div class="container">
  <img src="/images/forest_banner.jpg" alt="forest" width="100%" height="10%" style="border-radius: 6px">
</div>
<% @parks.each do |park| %>
  <ol>
    <li> <h3><%= park %></h3></li>
  </ol><br>
<h3>  --------------------------------------------------- </h3>
  <% end %>

</body>
</html>