<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/stylesheets/navigation.css">
</head>
<body>
<div class="topnav">
  <a class="active" href="/parks">Home</a>
  <a href="/parks/new">New Park</a>
  <a href="/logout">Logout</a>
</div>
    <h1> Uhh Oh... </h1>
    <h3> Looks like this park doesn't exist or belongs to another user. </h3><br>
    <p> Click below to see all your parks </p>
    <a href='/parks' class="myButton">See Your Parks</a><br>
    
</body>
    
</html>
