<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/stylesheets/page_styles.css">
</head>
<body>
<div class="topnav">
  <a class="active" href="/parks">Home</a>
  <a href="/parks/new">New Park</a>
  <a href="/account">Account</a>
  <a href="/logout">Logout</a>
  <a href="/explore">Explore</a>
</div>
<div class="container">
  <img src="/images/test.jpg" alt="mountains" width="100%" height="10%" style="border-radius: 6px">
</div>
    <h1> Uhh Oh... </h1>
    <h3> Looks like this park doesn't exist. </h3><br>
    <p> Click below to see all your parks </p>
    <a href='/parks' class="myButton">See Your Parks</a><br>
    
</body>
</html>
