<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/stylesheets/signup.css">
  <link rel="stylesheet" href="/stylesheets/banner.css">

</head>
<body>
<div class="container">
  <img src="images/test.jpg" alt="mountains" width="100%" height="10%" style="border-radius: 6px">
  <div class="centered"><h1>Welcome to your National Park Database</h1></div>
</div>
<h1>Woo there, time to slow down</h1>
<p> In order to continue, you will need to login or signup.</p>
<a href='/' class="myButton">Click Here to Begin</a><br

</body>
</html>