<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/stylesheets/page_styles.css">
</head>
<body>
<h1>Woo there, time to slow down</h1>
<p> In order to continue, you will need to login or signup.</p>
<a href='/' class="myButton">Click Here to Begin</a><br

</body>
</html>