<h3>Sign Up</h3>
<form action="/signup" method="POST">
  <input type="text" name="first_name" placeholder="First Name:">
  <br>
  <input type="text" name="last_name" placeholder="Last Name:">
  <br>
  <input type="text" name="email" placeholder="Email:">
  <br>
  <input type="password" name="password" placeholder="Password:">
  <br>
  <input type="password" name="verify_password" placeholder="Verify Password:">
  <br>
  <input type="submit" value="Sign Up">
</form><br>
<em style="color:red;font-size:12px;" >
Looks like this email already exists, please using another email or <a href='/login'>login </a></em>