<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>
<body>
<h1>Your personal National Park Database</h1>

<p> Please <a href="/signup">Sign Up</a> or <a href="/login">Log In</a> to continue.

</body>
</html>